.jobTrends_container {
    max-width: 1000px;
    margin: auto;
    margin-top: 100px;

}

.jobTrends_title-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.jobTrends_title-text {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-color: #FFD100;
    text-decoration-thickness: 1px;

}

.jobTrends_title-text:hover {
    text-decoration-color: white;
    color: #FFD100;

    .jobTrends_title-span {
        color: white;
    }
}


.jobTrends_title-span {
    color: #FFD100;
}

.jobTrends_data-source {
    color: white;
}

.jobTrends_chart {
    display: flex;
    flex-direction: row;
    height: 30px;
    align-items: center;
    margin-top: 20px;
}

.jobTrends_topic {
    color: #FFFFFF;
    font-size: 16px;
    margin-right: 20px;
    min-width: 100px;
}

.jobTrends_topic:hover{
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-color: #FFD100;
    text-decoration-thickness: 1px;
}


@media screen and (max-width: 790px) {
    .jobTrends_topic {
        font-size: 14px;
        min-width: 68px;
    }
}

.jobTrends_chart-positive {
    background-color: #292e33;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
    font-size: 15px;
}

@media screen and (max-width: 790px) {
    .jobTrends_chart-positive {
        font-size: 14px;
    }
}

.jobTrends_axis-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
}

.jobTrends_axis-item {
    color: white;
    font-size: 14px;
}

.jobTrends_axis-item:first-child {
    opacity: 0;
}

.first-letter {
    color: #FFD100
}