.jobTrends_container {
    display: flex;
    max-width: 1000px;
    margin: auto;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

.jobTrends_title-text {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-color: #FFD100;
    text-decoration-thickness: 1px;
}

.jobTrends_title-text:hover {
    text-decoration-color: white;
    color: #FFD100;

    .jobTrends_title-span {
        color: white;
    }
}


.jobTrends_title-span {
    color: #FFD100;
}