.horizontalBar_container {
    max-width: 1000px;
    margin: auto;
    margin-top: 180px;
}

.horizontalBar_title {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 50px;
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-color: #FFD100;
    text-decoration-thickness: 1px;
    text-align: center;

}

.horizontalBar_title-span {
    color: #FFD100;
}

.horizontalBar_title:hover {
    color: #FFD100;
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-color: white;
    text-decoration-thickness: 1px;

    .horizontalBar_title-span {
        color: white;
    }
}

.horizontalBar_legend {
    display: flex;
    align-items: center;
    justify-content: center;
}

.horizontalBar_legend-block {
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.horizontalBar_legend-positive {
    background-color: #75b5ddb6;
}

.horizontalBar_legend-negative {
    background-color: #e6acb5a2;
    margin-left: 200px;
}

.horizontalBar_legend-text {
    color: white;

}

.horizontalBar_chart {
    display: flex;
    flex-direction: row;
    height: 30px;
    align-items: center;
    margin-top: 20px;
}

.horizontalBar_topic {
    color: white;
    font-size: 16px;
    margin-right: 20px;
    min-width: 65px;
}

@media screen and (max-width: 790px) {
    .horizontalBar_topic {
        font-size: 14px;
        min-width: 55px;
    }
}

.horizontalBar_chart-positive {
    background-color: #75b5ddb6;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
}

.horizontalBar_chart-negative {
    background-color: #e6acb5a2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
}

.horizontalBar_button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    gap: 10px;

}


/* CSS */
.horizontalBar_button {
    align-items: center;
    background-color: #212529;
    border: 1px solid rgb(160, 152, 152);
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    min-width: 140px;
    outline: 0;
    margin-bottom: 500px;
}

.horizontalBar_button:hover {
    border-color: #FFD100;
    color: #FFD100;
    fill: #FFD100;
}

.horizontalBar_button.active {
    border-color: #FFD100;
    color: #FFD100;
    fill: #FFD100;
}

@media (min-width: 768px) {
    .horizontalBar_button {
        min-width: 170px;
    }
}